[kubernetes]
name=Kubernetes
baseurl=https://dc15-pe-prod-satprod01.neustar.net/pulp/content/Neustar/Library/custom/K8s/k8s-rhel8/
enabled=1
gpgcheck=0
repo_gpgcheck=0
#gpgkey=https://packages.cloud.google.com/yum/doc/yum-key.gpg https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg